services:

  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto/passwd:/mosquitto/config/passwd
      - ./mosquitto/acl:/mosquitto/config/acl
      - ./mosquitto/log:/mosquitto/log
    ports:
      - "1883:1883"
      - "9001:9001"
    restart: always

  backend:
    build: ./backend
    container_name: backend
    environment:
      - MOSQUITTO_PASSWD=/mosquitto/config/passwd
      - MOSQUITTO_ACL=/mosquitto/config/acl
    volumes:
      - ./mosquitto:/mosquitto
      - ./mosquitto/passwd:/mosquitto/config/passwd
      - ./mosquitto/acl:/mosquitto/config/acl
    ports:
      - "3001:3001"
    depends_on:
      - mosquitto
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always
