services:

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  mosquitto:
    build: ./mosquitto
    container_name: mosquitto
    environment:
      - MOSQ_USER=${MOSQ_USER}
      - MOSQ_PASS=${MOSQ_PASS}
    volumes:
      - mosquitto_data:/mosquitto/config
      - mosquitto_log:/mosquitto/log
    ports:
      - "1883:1883"
      - "9001:9001"
    restart: always

  backend:
    build: ./backend
    container_name: backend
    environment:
      - MOSQUITTO_PASSWD=/mosquitto/config/passwd
      - MOSQUITTO_ACL=/mosquitto/config/acl
      - BROKER_USER=${BROKER_USER}
      - BROKER_PASS=${BROKER_PASS}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - IMAGES_DIR=/app/images
    volumes:
      - mosquitto_data:/mosquitto/config
      - /var/run/docker.sock:/var/run/docker.sock
      - images_storage:/app/images
    ports:
      - "${PORT}:3001"
    depends_on:
      postgres:
        condition: service_healthy
      mosquitto:
        condition: service_started
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    environment:
      - VITE_BACKEND_URL=${VITE_BACKEND_URL}
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always

volumes:
  mosquitto_data:
  mosquitto_log:
  images_storage:
