services:

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=mqtt_user
      - POSTGRES_PASSWORD=mqtt_pass
      - POSTGRES_DB=mqtt_db
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U mqtt_user -d mqtt_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  mosquitto:
    build: ./mosquitto
    container_name: mosquitto
    environment:
      - MOSQ_USER=backend-manager
      - MOSQ_PASS=supersecret
    volumes:
      - mosquitto_data:/mosquitto/config
      - mosquitto_log:/mosquitto/log
    ports:
      - "1883:1883"
      - "9001:9001"
    restart: always

  backend:
    build: ./backend
    container_name: backend
    environment:
      - MOSQUITTO_PASSWD=/mosquitto/config/passwd
      - MOSQUITTO_ACL=/mosquitto/config/acl
      - BROKER_USER=backend-manager
      - BROKER_PASS=supersecret
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=mqtt_user
      - DB_PASSWORD=mqtt_pass
      - DB_NAME=mqtt_db
    volumes:
      - mosquitto_data:/mosquitto/config
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "3001:3001"
    depends_on:
      postgres:
        condition: service_healthy
      mosquitto:
        condition: service_started
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always

volumes:
  mosquitto_data:
  mosquitto_log:
